/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Open Sans', sans-serif; */

/*
COLORS
H1, Get answer button, text in input field: #2B4E80;
Get answer button disabled: #607AA0;
Get answer button hover: #1C3455;
light blue background: #E6ECF4;
clear button: #DE4841;
clear button disabled: #D0CDCD
*/
* {
  border: 1px solid blue;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: 'Life Savers', cursive;
  display: inline;
  color: #2B4E80;
  font-size: 3em;
}

.box-and-woody {
  display: flex;
  justify-content: space-around;
  width: 80%;
  height: 60%;
}

.left {
  background-color: #E6ECF4;
  display: flex;
  flex-direction: column;
  width: 60%;
  align-items: center;
  justify-content: space-around;
}

.form-and-button {
  width: 90%;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.form {
  width: 90%;
  height: 50%;
  text-align: center;
  justify-content: flex-start;
  margin: 10px;
}
.get-answer-button {
    background-color: #607AA0;
    color: #ffffff;
}

.clear{
  margin-left: auto;
  background-color: #D0CDCD;
  margin-right: 20px;
}

input {
  font-family: 'Open Sans', sans-serif;
}

.right {
  display: flex;
  justify-content: center;
  height: 80%;
}

.woody {
  margin-left: 90px;
}
